/build/*
*.mode1v3
*.pbxuser
xcuserdata
project.xcworkspace
tools/*/build/*
external/llvm-2.5/Release
*.dir
*.a
/external/llvm-2.5/Release/*.o
*/build/*
**/build/*
**/build/**
/*/build/*
/**/build/*
/**/build/**
external/plcrashreporter-1.0/build/*
/external/plcrashreporter-1.0/build/*
external/plcrashreporter-1.0/build
/external/plcrashreporter-1.0/build/**
/external/llvm-2.5/Release/lib/**